body {background-color: #33cccc}

h1 {font-family: 'Press Start 2P', cursive; color: #df3b57}

.content {font-family: 'Inconsolata', monospace;
    color: #df3b57;
    max-width: 900px;
    margin: 0 auto;
    transform: skewY(11deg)}

.diagonal-box {background-color: #fc9c9c;
    transform: skewY(-11deg);
    margin-top: 13%;
    border: 0px}



