body {background-color: #0f7173}

h1 {font-family: 'Press Start 2P', cursive; color: #ee4b6a}

.content {font-family: 'Inconsolata', monospace;
    color: #ee4b6a;
    max-width: 600px;
    margin: auto;
    transform: skewY(11deg)}

.diagonal-box {background-color: #df3b57;
    
    transform: skewY(-11deg)}



